<div class="w-100 h-100 position-relative oh">
  <div class="w-100 h-100 container-fluid py-3 px-5">
    <div style="height: 50px;">
      <div class="w-100 h-100 d-flex flex-row justify-content-between">
        <button type="button" class="btn btn-primary" style="height: 38px;" *ngIf="currentUser.user_type == 1" (click)="postJobFunc()">Post Job</button>
        <div class="container m-0 d-flex flex-row justify-content-between p-0" style="width: 30%;">
          <input class="form-control mr-sm-2" type="search" placeholder="Search job" aria-label="Search" [(ngModel)]="query">
        </div>
        <button class="btn btn-primary ml-3" style="height: 38px;" type="submit" (click)="exportJobFunc()">Export to csv</button>
      </div>
    </div>
    <div style="height: calc(100% - 50px)">
      <div class="w-100 h-100 table-responsive">
        <table class="table table-striped" #stickyheader>
          <thead class="thead-dark">
            <tr (click)="orderByFunc($event)">
              <th class="position-relative" [attr.data-heading]="'job_title'">Job
                <span class="arrow-position" [ngClass]="getClassFunc('job_title')"></span> </th>
              <th class="position-relative" [attr.data-heading]="'location'">Location
                <span class="arrow-position" [ngClass]="getClassFunc('location')"></span></th>
              <th class="position-relative" [attr.data-heading]="'created_on'">Posted
                <span class="arrow-position" [ngClass]="getClassFunc('created_on')"></span></th>
              <th class="position-relative" [attr.data-heading]="'job_type'">Job Type
                <span class="arrow-position" [ngClass]="getClassFunc('job_type')"></span></th>
              <th class="position-relative" *ngIf="currentUser.user_type == 1" [attr.data-heading]="'applied_count'">Applied
                <span class="arrow-position" [ngClass]="getClassFunc('applied_count')"></span></th>
              <th class="position-relative">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobArr  | orderBy : sortKey : ascendingOrder | search: query ; let j = index;">
              <th>
                <h5 class="fs-15 fw400 mt10">{{job.job_title}}</h5>
              </th>
              <td>
                <h5 class="fs-15 fw400 mt10">{{job.location}}</h5>
              </td>
              <td>
                <h5 class="fs-15 fw400 mt10">{{job.created_on | date:'dd/MM/yyyy, hh:mm a'}}</h5>
              </td>
              <td>
                <h5 class="fs-15 fw400 mt10">{{job.job_type}}</h5>
              </td>
              <td *ngIf="currentUser.user_type == 1">
                <h5 class="fs-15 fw400 mt10">{{job.applied_count}}</h5>
              </td>
              <td>
                <ng-container *ngIf="currentUser.user_type == 1">
                  <button type="button" class="btn btn-primary" (click)="editJobFunc(job)">Edit</button>
                  <button type="button" class="btn btn-danger ml-3" (click)="deleteJobFunc(j)">Delete</button>
                </ng-container>
                <ng-container *ngIf="currentUser.user_type == 2">
                  <button type="button" class="btn btn-primary" *ngIf="!checkJobApplStatusFunc(job)" (click)="applyForJobFunc(job)">Apply</button>
                  <button type="button" class="btn btn-primary" disabled *ngIf="checkJobApplStatusFunc(job)">Applied</button>
                </ng-container>
                <button type="button" class="btn btn-success ml-3" (click)="showDetailFunc(job, true)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="w-100 h-75 d-flex flex-row justify-content-center align-items-center"
          *ngIf="jobArr && !jobArr.length">
          <h5 class="fs-15">No job listed.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="position-absolute w-100 h-100 container-fluid py-3 px-5 bg-white anim" style="top: 0px;" [style.transform]="showJobDetailFlag ? 'translateX(0%)' : 'translateX(100%)'">
    <app-job-detail-view class="w-100 h-100" *ngIf="showJobDetailFlag" [jobObj]="viewJobObj" (callBackFunc)="showDetailFunc(null, false)" (applyForJob)="applyForJobFunc($event)"></app-job-detail-view>
  </div>
</div>